@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
html {
  --blue: #407899;
  --black: black;
  --white: white;
  --grey: #999;
  --open-sans: "Open Sans", sans-serif
} 
body {
  margin: 0;
  font-family: var(--open-sans);
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem 20%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button, input {
  background: none;
  border: none;
}
button {
  cursor: pointer;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: var(--grey)
}
.button-icon {
  font-size: 1.1rem
}
.form-group {
  display: flex;
  flex-direction: column;
}
.input_label {
  font-size: 0.8rem;
  opacity: 0.8;
}
.input {
  border: 1px solid var(--grey);
  border-radius: 7px;
  padding: 0.3rem .5rem;
}
.container, .backdrop {
  width: 100%
}
.modal, .backdrop {
  position: fixed;
}
.content, .space-between {
  display: flex;
  align-items: center;
}
.container {
  box-shadow: 3px 3px 10px rgba(0,0,0,0.25%);
}
.content {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.new-person_button {
  background-color: var(--blue);
  border-radius: 7px;
  padding: 0.5rem;
  color: var(--white);
  font-weight: 700;
  font-size: 1rem;
}
.new-person_form {
  width: 60%;
}
.new-person_form > .form-group {
  margin-bottom: 1rem;
}
.new-person-form_button {
  background-color: var(--blue);
  color: var(--white);
  padding: 0.6rem 1rem;
  border-radius: 7px;
  font-size: 0.9rem;
  float: right;
}
.backdrop {
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0,0,0,0.7);
}
.modal {
  top: 20vh;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 14px;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  color: var(--black);
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem)
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}