body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.25%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0,0,0,0.7);
}

.modal {
  position: fixed;
  top: 20vh;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  color: black;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.button-icon {
  font-size: 1.1rem
}

.insert-person-button {
  background-color: #407899;
  border-radius: 7px;
  padding: 0.5rem;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.new-person-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.new-person-form label {
  font-weight: 600;
  padding-bottom: 1%;
  align-self: start;
}

.new-person-form input {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 5%;
  border: 1px solid gray;
  border-radius: 2px;
  padding: .1rem .3rem;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem)
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}